/* Root Variables */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f8f9fa;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Centering */
h1 {
  display: flex;
  justify-content: center;
  background-color: #c00;
  color: white;
  padding: 10px;
}

/* Image Container */
.image-container {
  position: relative;
  width: 100%;
  height: 60vh; 
  margin: 0 auto;
  overflow: hidden;
}

/* Image Styling */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Data and Weather Boxes */
.data, .weather {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  width: 220px; 
  padding: 10px;
  background-color: rgba(0, 128, 0, 0.8); 
  color: white;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.data {
  left: 5%; 
}

.weather {
  right: 5%; 
}

/* Weather Heading Icon */
.weather h2::after {
  content: url('images/weather_clouds_sun_sunny_icon.svg');
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

/* Footer Styling */
footer {
  text-align: center;      
  font-family: 'Rubik', sans-serif;
  font-size: 1rem; 
  color: #fff; 
  background-color: #b71c1c; 
  padding: 10px 0;         
  line-height: 1.5;         
}
footer p {
  margin: 0;                
  display: block;           
}

.weather-icon {
  display: none;
}


.emoji-icon {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 8px; 
}
ul{
  list-style: none;
}

