@media (max-width: 768px) {
    .image-container {
        height: 50vh; 
    }

    .data, .weather {
        position: static; 
        transform: none; 
        width: 90%; 
        margin: 10px auto; 
    }

    .data {
        margin-top: 20px;
    }

    .weather {
        margin-bottom: 20px;
    }

    main {
        height: auto; 
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem; 
    }

    .weather-icon {
        display: inline-block; 
        width: 24px;  
        height: 24px;
        margin-left: 8px;
    }
    .emoji-icon {
        display: none; 
    }
    
/* Footer Styling */
    footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.9rem;
    }
}

