@media (min-width: 740px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    header {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 20px; 
        background-color: #003366;
        color: #FFF;
        flex-wrap: nowrap; 
    }

    header h1 {
        margin: 0; 
        font-size: 2rem; 
        white-space: nowrap; 
    }

    nav {
        display: flex;
        gap: 15px;
        padding-right: 40px; 
    }

    nav a {
        color: #FFF; 
        text-decoration: none;
        font-weight: 500;
        padding: 5px 10px; 
    }

    nav a:hover {
        background-color: #555;
        color: #FFF; 
        border-radius: 5px;
    }

    
    .hamburger {
        display: none;
    }
}
